/*
====================
 Floating Fixed Section
====================
*/
.floating-fixed-item {
  bottom: 3vw;
  right: 1vw;
  position: fixed;
  width: 10vw;
  height: 15vw;
  text-align: center;
  z-index: 1;
}

.floating-fixed-item img {
  width: 10vw;
  height: 10vw;
  border-radius: 1vw;
}

.floating-fixed-item p {
  margin: 0;
  padding: 0.5vw 0;
  border-radius: 1vw;
  border-radius: 1vw;
  border-style: solid;
  opacity: 0.85;
}

.floating-fixed-go-back {
  bottom: 1vw;
  left: 1vw;
  position: fixed;
  text-align: center;
  z-index: 1;
}

.floating-fixed-go-back a {
  text-decoration: none;
}

.floating-fixed-go-back p:hover {
  color: yellow;
}

.floating-fixed-go-back p {
  margin: 0;
  padding: 0.5vw 0.5vw;
  border-radius: 1vw;
  border-radius: 1vw;
  border-style: solid;
  opacity: 0.85;
}

.floating-fixed-go-back a:visited {
  color: inherit;
}

/*
====================
 General Section
====================
*/

* {
  text-align: center;
}

body {
  font-family: Avenir, sans-serif;
  background-color: #0e100f;
  color: #fffce1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

p {
  font-size: 2vw;
}

h2 {
  font-size: 3vw;
}

ul li {
  font-size: 2vw;
  padding: 1vw 0;
}

a,
a:visited {
  font-size: 2vw;
  text-decoration: none;
  color: #ffffff;
}

section:nth-child(odd) a:hover {
  color: darkgreen;
}

a:hover {
  color: darkblue;
}

i {
  font-size: 5vw;
}

iframe {
  border-radius: 1vw;
  width: 75vw;
  height: 50vh;
}

img {
  border-radius: 1vw;
}

section {
  width: 100vw;
  height: 100vh;
  background: darkgreen;
  display: grid;
  place-items: center;
  align-content: center;
}
section:nth-child(odd) {
  background: darkblue;
}

.box {
  width: 10vw;
  height: 10vw;
  font-size: 10vw;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.spoiler-text {
  color: darkgreen;
  cursor: pointer;
}

section:nth-child(odd) .spoiler-text {
  color: darkblue;
}

/*
====================
 Club Contacts Section
====================
*/

.club-contacts-container {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  width: 85%;
}

.club-contacts {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.club-QR {
  display: grid;
  grid-template-rows: 1fr 0.25fr;
  justify-items: center;
  align-items: center;
}

.club-QR img {
  width: 20vw;
  border-radius: 1vw;
}
